In [36]:
# Importando bibliotecas para manipulação e análise de dados
import pandas as pd  # Manipulação de dados em DataFrames

# Importando controle de avisos e manipulação de arquivos
import warnings  # Gerenciamento de mensagens de aviso

In [37]:
# Carregar o conjunto de dados
df = pd.read_csv("../data/raw/healthcare-dataset-stroke-data.csv")

In [38]:
# Contar valores ausentes em cada coluna
missing_values = df.isnull().sum()
print("Valores ausentes:")
print(missing_values)

Valores ausentes:
id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [39]:
warnings.filterwarnings("ignore", category=FutureWarning)

# Substituir valores ausentes em 'bmi' com a média (ou mediana) como exemplo
df['bmi'].fillna(df['bmi'].mean(), inplace=True)

In [40]:
# Contar valores ausentes em cada coluna
missing_values = df.isnull().sum()
print("Valores ausentes:")
print(missing_values)

Valores ausentes:
id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [42]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.698018,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.400000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,32.800000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [43]:
# Tratamento de missings
# Identificar valores de BMI acima de 75 e substituí-los pela média
bmi_razoavel_media = df[(df['bmi'] >= 10) & (df['bmi'] <= 50)]['bmi'].mean()

# Substituir valores acima de 75 pela média do intervalo razoável
df.loc[df['bmi'] > 75, 'bmi'] = bmi_razoavel_media

# Confirmar a substituição
print("Valores de BMI após o tratamento:")
print(df['bmi'].describe())

Valores de BMI após o tratamento:
count    5110.000000
mean       28.857579
std         7.555318
min        10.300000
25%        23.800000
50%        28.400000
75%        32.800000
max        71.900000
Name: bmi, dtype: float64

In [44]:
# Salvar o dataset pré-processado para cada tipo de análise em arquivos CSV
df.to_csv('dados_classificacao.csv', index=False)
df.to_csv('dados_regressao.csv', index=False)
df.to_csv('dados_agrupamento.csv', index=False)